.taskDetailsContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin-top: 40px;
}

.taskDescTitle {
    background-color: var(--menu-titles-bg-color);
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
    text-align: start;
}

.taskDescText {
    background-color: lightgray;
    padding: 15px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}